
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/main.css" />

    <!-- icont link-->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</head>


<body>
    <header class="header">
        <a href="/HomeUser/Index/#home" class="logo">
            <img src=@Url.Content("/Images/Logo.png") alt="Logo" class="img-logo" />
        </a>

        <nav class="navbar">
            <a href="/HomeUser/Index/#home">Trang chủ</a>
            <a href="/HomeUser/Index/#about">Về cửa hàng</a>
            <a href="/CustomerProducts/Index">Sản phẩm</a>
            <a href="/HomeUser/Index/#review">Review</a>
            <a href="/HomeUser/Index/#contact">Liên hệ</a>
            <a href="/HomeUser/Index/#blogs">Blogs</a>
        </nav>

        <div class="icons">
            <a href="~/Cart/GetCartInfo">
                <div class="fas fa-shopping-cart icon-cart" id="cart-btn">
                              
                    
                </div>
            </a>
            <a href="~/Area/Login/"><div class="fas fa-sign-in-alt"></div></a>
            <a href="~/Area/Admin"><div class="fas fa-laugh-wink"></div></a>
            <div class="fas fa-bars" id="menu-btn"></div>

        </div>
    </header>

    <div>
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="grid wide footer__content">
            <div class="row">
                <div class="col l-2-4 m-4 c-6">
                    <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <a href="" class="footer-item__link">Trung Tâm Trợ Giúp</a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-item__link">Sunday-Morning Coffe</a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                        </li>
                    </ul>
                </div>
                <div class="col l-2-4 m-4 c-6">
                    <h3 class="footer__heading">Giới thiệu</h3>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <a href="" class="footer-item__link">Giới thiệu</a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-item__link">Tuyển dụng</a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-item__link">Điều khoản</a>
                        </li>
                    </ul>
                </div>
                <div class="col l-2-4 m-4 c-6">
                    <h3 class="footer__heading">Danh mục</h3>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <a href="" class="footer-item__link">Cà Phê</a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-item__link">Trà Trái cây</a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-item__link">Trà Nhiệt Đới</a>
                        </li>
                    </ul>
                </div>
                <div class="col l-2-4 m-4 c-6">
                    <h3 class="footer__heading">Theo dõi</h3>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <a href="" class="footer-item__link">
                                <i class="footer-item__icon fab fa-facebook"></i>
                                Facebook
                            </a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-item__link">
                                <i class="footer-item__icon fab fa-instagram"></i>
                                Instagram
                            </a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-item__link">
                                <i class="footer-item__icon fab fa-linkedin"></i>
                                Linkedin
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col l-2-4 m-8 c-12">
                    <h3 class="footer__heading">Vào cửa hàng trên ứng dụng</h3>
                    <div class="footer__download">
                        <img src="https://www.investopedia.com/thmb/hJrIBjjMBGfx0oa_bHAgZ9AWyn0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/qr-code-bc94057f452f4806af70fd34540f72ad.png" alt="Download QR" class="footer__download-qr">
                        <div class="footer__download-apps">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <div class="grid wide">
                <p class="footer__text">© Created By Phúc-Thanh-Chiến-Duy | Sunday Morning</p>
            </div>
        </div>
    </footer>
    <script src="~/Assets/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/Admin/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/Assets/Admin/js/sb-admin-2.js"></script>
    @RenderSection("jsFooter", required: false)
</body>
</html>
