@model IEnumerable<DoAn.Models.EF.Product>
@{
    ViewBag.Title = "Trang Chu";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="~/Content/style.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=vietnamese" rel="stylesheet">

<!-- home section starts  -->

<section class="home" id="home">
    <div class="content">
        <h3>Sunday morning</h3>
        <p>Một cảm giác sảng khoái của cà phê và bình yên của trà tựa như tỉnh giấc vào một buổi sáng chủ nhật là những gì SM đem lại cho khách hàng khi thưởng thức đồ uống của chúng tôi.</p>
        <a href="#" class="btn">Đặt hàng ngay</a>
    </div>
    <div>
        <img src=@Url.Content("/Images/AnhHome.jpg") alt="Anh" class="img" />
    </div>
</section>

<!-- home section ends -->
<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span>about</span> us </h1>

    <div class="row">

        <div class="image">
            <img src=@Url.Content("/Images/4ChangTrai.jpg") alt="Anh" />
        </div>

        <div class="content">
            <h3>Nguồn gốc của sunday morning - SM?</h3>
            <p>Sunday morning được hình thành từ bốn chàng trai có niềm đam mê với cà phê và trà. Mong muốn tạo ra được một thức uống đem lại giá trị cao về tinh thần cho người dùng.</p>
            <p>Đồ uống SM được kết hợp từ những nguyên liệu độc đáo để tạo nên sự riêng biệt về mùi hương khi thưởng thức. Đem lại cảm giác sảng khoái cùng bình yên đan xen tựa như một buổi sáng chủ nhật!</p>
            <a href="#" class="btn">Đọc thêm</a>
        </div>

    </div>

</section>

<!-- about section ends -->
<!-- menu section starts  -->

<section class="menu" id="menu">

    <h1 class="heading"> our <span>Sản phẩm mới</span> </h1>

    <div class="box-container">
        @for (int i = 0; i < 3; i++)
        {
            <div class="box">
                <a href="#">
                    <div>
                        <img src="~/Images/CaPheVN/@Model.ToList()[i].Image" class="spimg" />
                    </div>
                    <br />
                    <h4 class="spstyle spstname">@Model.ToList()[i].Name</h4>
                    <div class="home-product-item__price">
                        <span class="spstyle">@Model.ToList()[i].Price VND</span>
                    </div>

                    <div>
                        <div class="spstyle">
                            <i class="home-product-item__star--gold fas fa-star"></i>
                            <i class="home-product-item__star--gold fas fa-star"></i>
                            <i class="home-product-item__star--gold fas fa-star"></i>
                            <i class="home-product-item__star--gold fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    @Html.ActionLink("CHI TIẾT", "Details", new { id = @Model.ToList()[i].ID }, new { @class = "btn btn-primary" })
                </a>
            </div>
        }


    </div>
    <a href="/CustomerProducts/Index" class="btn more" style="margin-left:43%;">Xem thêm</a>
    </div>

</section>
<!-- review section starts  -->

<section class="review" id="review">

    <h1 class="heading"> Đánh giá của <span>khách hàng</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="images/quote-img.png" alt="" class="quote">
            <p>Đồ uống thực sự rất ngon!</p>
            <img src="images/pic-1.png" class="user" alt="">
            <h3>Á đù ăng seng</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="box">
            <img src="images/quote-img.png" alt="" class="quote">
            <p>Không gian thoáng mát, nhân viên thân thiện, đồ uống tuyệt vời 5saoooooo</p>
            <img src="images/pic-2.png" class="user" alt="">
            <h3>Boy si tình tìm girl yêu mình</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>

        <div class="box">
            <img src="images/quote-img.png" alt="" class="quote">
            <p>Nhân viên đẹp trai, dễ thương. Trừ nửa điểm vì không cho sđt</p>
            <img src="images/pic-3.png" class="user" alt="">
            <h3>Chị hân giấu tên</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

    </div>

</section>

<!-- review section ends -->
<!-- contact section starts  -->

<section class="contact" id="contact">

    <h1 class="heading"> <span>Liên hệ</span> chúng tôi </h1>

    <div class="row">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4602948163474!2d106.6673648!3d10.7760147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edb765b5c25%3A0x9a3519bdad5a85a3!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOZ2_huqFpIG5n4buvIC0gVGluIGjhu41jIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCAoSFVGTElUKQ!5e0!3m2!1svi!2s!4v1664696565912!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <form action="/action_page.php">
            <h3>Thông tin khách hàng</h3>
            <div class="inputBox">
                <span class="fas fa-user"></span>
                <input type="text" placeholder="Tên" class="bdn">
            </div>
            <div class="inputBox">
                <span class="fas fa-envelope"></span>
                <input type="email" placeholder="Email">
            </div>
            <div class="inputBox">
                <span class="fas fa-phone"></span>
                <input type="text" placeholder="Số điện thoại" class="bdn">
            </div>
            <input type="submit" value="Gửi liên hệ" class="btn">
        </form>

    </div>

</section>

<!-- contact section ends -->
<!-- blogs section starts  -->

<section class="blogs" id="blogs">

    <h1 class="heading"> SM <span>blogs</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src=@Url.Content("/Images/cafeblogs.jpg") alt="">
            </div>
            <div class="content">
                <a href="#" class="title">Cà phê có nguồn gốc từ đâu?</a>
                <span>by Phúc / 21st may, 2021</span>
                <p>Cà phê là thức uống được ưa chuộng trên toàn thế giới. Cà phê có nguồn gốc xuất phát từ...</p>
                <a href="#" class="btn">đọc thêm</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src=@Url.Content("/Images/cafeblogs.jpg") alt="">
            </div>
            <div class="content">
                <a href="#" class="title">Cà phê có nguồn gốc từ đâu?</a>
                <span>by Phúc / 21st may, 2021</span>
                <p>Cà phê là thức uống được ưa chuộng trên toàn thế giới. Cà phê có nguồn gốc xuất phát từ...</p>
                <a href="#" class="btn">đọc thêm</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src=@Url.Content("/Images/cafeblogs.jpg") alt="Anh">
            </div>
            <div class="content">
                <a href="#" class="title">Cà phê có nguồn gốc từ đâu?</a>
                <span>by Phúc / 21st may, 2021</span>
                <p>Cà phê là thức uống được ưa chuộng trên toàn thế giới. Cà phê có nguồn gốc xuất phát từ...</p>
                <a href="#" class="btn">đọc thêm</a>
            </div>
        </div>

    </div>

</section>

<!-- blogs section ends -->
<!-- footer section ends -->
<!-- custom js file link  -->
<script src="js/script.js"></script>